
 <%= form_for(:session, html: {class: "ui form",role: "form"}, url: login_path) do |f| %>
    <div class="form-group">
      <%= f.label :email, "email"%>
      <%= f.text_field :email, placeholder:"Enter email"%>
      
    </div>
    <div class="form-group">
      <%= f.label :Password, "password"%>
      <%= f.password_field :password, placeholder: "enter Password"%>
    </div>
       <%= f.button "Login",class: "btn btn-primary"%>
   <% end %>